streamlit
transformers
pydub
librosa
noisereduce
ffmpeg-python
openai
python-dotenv
PyMuPDF
streamlit-option-menu
PyMuPDF
pytesseract
os
deepface
opencv-python
tf-keras
streamlit-webrtc
git+https://github.com/m-bain/whisperX.git