torch
transformers
streamlit
pandas==2.3.0
scikit-learn
numpy==1.24.4
sentencepiece
datasets
tqdm
accelerate 
PyMuPDF  # import fitz
docx2txt
streamlit
pydub
librosa
noisereduce
ffmpeg-python
openai
python-dotenv
streamlit-option-menu
pytesseract
os
deepface
opencv-python
tf-keras
streamlit-webrtc
google.generativeai
