torch
transformers
streamlit
pandas
scikit-learn
numpy
# sentencepiece==0.1.99
datasets
tqdm
accelerate 
PyMuPDF  # import fitz
docx2txt
streamlit
pydub
# librosa>=0.10.0
noisereduce
ffmpeg-python
openai
python-dotenv
streamlit-option-menu
pytesseract
opencv-python
tf-keras
google.generativeai
